@{
    ViewBag.Title = "Home";
}

<!doctype html>
<!--[if IE 9]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js " lang="en">
<!--<![endif]-->
<head>
    <!-- basic page needs -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MobileRepairSupermarket ..</title>
    <meta name="description" content="">
    <!-- mobile meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/jquery.fancybox.css">
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui-slider.css">
    <link rel="stylesheet" href="~/css/nivo-slider.css">
    <link rel="stylesheet" href="~/css/owl.transitions.css">
    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
                  <script src="js/vendor/html5shiv.min.js"></script>
                  <script src="js/vendor/respond.min.js"></script>
                <![endif]-->
</head>
<body class="index-2">
    <!--[if lt IE 8]>
                    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header-area start -->
    <header class="header-area">
        <!-- header-top start -->
        <!-- header-top end -->
        <!-- header-middle start -->
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <!-- logo start -->
                        <div class="logo"> <a href="#"><img src="img/logo.png" alt="logo" /></a> </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <!-- category search start -->
                        <div class="category-search-area">
                            <div class="search-form">
                                <form action="#" method="post">
                                    <a href="#" class="cat-search-btn"><i><img src="img/search-icon.png" alt="img"></i></a>
                                    <input class="cat-search-box" type="text" placeholder="Enter Postcode" />
                                </form>
                            </div>
                            <div class="search-cat">
                                <select>
                                    <option value="1">Distance</option>
                                    <option value="2">1 km</option>
                                    <option value="2">2 km</option>
                                    <option value="3">3 km</option>
                                    <option value="3">4 km</option>
                                </select>
                            </div>
                            <a class="add-tag-btn" href="#">Search Repair Centre</a>
                        </div>
                        <!-- category search end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- header-middle end -->
        <!-- header-bottom start -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <!-- left-category-menu-area start -->
                    <div class="col-xs-12 col-md-3">
                        <div class="left-category-menu-area">
                            <h3 class="cat-toggle-heading mb0">category</h3>
                            <div class="left-category-menu left-category-menu-home-2">
                                <ul>
                                    <li>
                                        <a href="#">Mobile Repair</a>
										 <!-- swetachanges -->
                                        <p>Extensive Repair done for mobile phone</p>
                                        <div class="left-cat-dropdown left-cat-1">
                                            <div class="single-cat-dropdown">
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Accessories</a> <a href="#">Car Electronics</a> <a href="#">Cell Phones</a> <a href="#">Desktops & Key</a> </div>
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Accessories</a> <a href="#">Car Electronics</a> <a href="#">Cell Phones</a> <a href="#">Desktops & Key</a> </div>
                                            </div>
                                            <div class="single-cat-dropdown">
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Accessories</a> <a href="#">Car Electronics</a> <a href="#">Cell Phones</a> <a href="#">Desktops & Key</a> </div>
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Accessories</a> <a href="#">Car Electronics</a> <a href="#">Cell Phones</a> <a href="#">Desktops & Key</a> </div>
                                            </div>
                                            <div class="single-cat-dropdown"> <a href="#"><img src="img/add/11.jpg" alt="product image" /></a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"> Mobile Accessery</a>
                                        <p>Shop for Mobile Accessery all styles includin</p>
                                        <div class="left-cat-dropdown left-cat-2">
                                            <div class="single-cat-dropdown">
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Video & Home</a> <a href="#">Home Surveillance</a> <a href="#">Cell Phones</a> <a href="#">Desktops & Key</a> </div>
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline‎</a> <a href="#">Lingerie</a> <a href="#">Electronics</a> <a href="#">Home Telephones</a> <a href="#">Desktops & Key</a> </div>
                                            </div>
                                            <div class="single-cat-dropdown">
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Communication</a> <a href="#">Handbag</a> <a href="#">Vintage Electronics</a> <a href="#">Desktops & Key</a> </div>
                                                <div class="single-cat-item"> <a href="#" class="single-cat-dropdown-title">Menu Headline</a> <a href="#">Funiture</a> <a href="#">Car Electronics</a> <a href="#">Lifestyle</a> <a href="#">Desktops & Key</a> </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="more-cat"> <span class="more-view">More Categories</span> </div>
                            </div>
                        </div>
                    </div>
                    <!-- left-category-menu-area end -->
                    <!-- mainmenu start -->
                    <div class="col-xs-12 col-md-9">
                        <div class="mainmenu">
                            <nav>
                                <ul class="mb0">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Buy</a></li>
                                    <li><a href="#">Repair</a></li>
                                    <li>
                                        <a href="#">Sell Your Phone</a><i class="fa fa-angle-down"></i>
                                        <div class="mega-menu">
                                            <div class="single-mega-menu">
                                                <div class="single-mega-menu-item"> <a href="#" class="single-megamenu-title">User Interface</a> <a href="/Login">Sign In</a> <a href="/Login">Login</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- mainmenu end -->
                </div>
                <!-- mobile menu start -->
                <div class="row">
                    <div class="col-sm-12 mobile-menu-area">
                        <div class="mobile-menu hidden-md hidden-lg" id="mob-menu">
                            <span class="mobile-menu-title">Menu</span>
                            <nav>
                                <ul>
                                    <li> <a href="#">Home</a> </li>
                                    <li><a href="#">Buy</a></li>
                                    <li><a href="#">Repair</a></li>
                                    <li>
                                        <a href="#">Sell Your Phone</a>
                                        <ul>
                                            <li><a href="/Login">Sign In</a></li>
                                            <li><a href="/Login">Login</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <br>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- mobile menu end -->
            </div>
        </div>
        <!-- header-bottom end -->
        <!--second menu start-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <p class="product-search-short-bg">Search Your Mobile &nbsp;<i class="fa"><img src="img/arrow.png" alt="img"></i></p>
                </div>
                <div class="col-xs-12 col-md-9">
                    <!-- category search start -->
                    <div class="category-search-area mobile-search">
                        <div class="search-form">
                            <form action="#" method="post">
                                <a href="#" class="cat-search-btn"><i><img src="img/search-icon.png" alt="img"></i></a>
                                <input class="cat-search-box" type="text" placeholder="Type Your Brand" />
                            </form>
                        </div>
                        <a class="add-tag-btn" href="#">Search</a>
                    </div>
                    <!-- category search end -->

                </div>
            </div>
        </div>
        <!--second menu end-->
    </header>
    <!-- header-area end -->
    <!-- slider-area start -->

    <div class="slider-area mb10 mt10">
        <div class="container">
            <div class="row">
                <!-- slider start -->
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="slider">
                        <div id="mainSlider" class="nivoSlider"> <img src="img/slider/home2/1.jpg" alt="main slider" title="#htmlcaption1" /> <img src="img/slider/home2/2.jpg" alt="main slider" title="#htmlcaption2" /> </div>
                    </div>
                </div>
                <!-- slider end -->
                <!-- block-img-add start -->
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="single-category-box mb20">
                        <div class="shop-category-item col-md-8">
                            <h2 class="pb0"><a href="#">Deal of the Day</a></h2>
                            <p class="mb0">Up to 50% Off</p>
                            <p class="mb0">Get hurry to Deal us</p>
                            <a href="#" class="more-single">Know More</a>
                        </div>
                        <div class="shop-category-image"> <img alt="GreenTech" src="img/1.png"> </div>
                    </div>
                    <div class="single-category-box mb20">
                        <div class="shop-category-item col-md-8">
                            <h2 class="pb0"><a href="#">Offer of the Day</a></h2>
                            <p class="mb0">Up to 50% Off</p>
                            <p class="mb0">Get hurry to Deal us</p>
                            <a href="#" class="more-single">Know More</a>
                        </div>
                        <div class="shop-category-image"> <img alt="GreenTech" src="img/2.png"> </div>
                    </div>
                    <div class="single-category-box mb20">
                        <div class="shop-category-item col-md-8">
                            <h2 class="pb0"><a href="#">Shop of the Day</a></h2>
                            <p class="mb0">Up to 50% Off</p>
                            <p class="mb0">Get hurry to Deal us</p>
                            <a href="#" class="more-single">Know More</a>
                        </div>
                        <div class="shop-category-image"> <img alt="GreenTech" src="img/3.png"> </div>
                    </div>
                </div>
                <!-- block-img-add end -->
            </div>
        </div>
    </div>

    <!-- slider-area end -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-12">
                <div id="gw-sidebar">
                    <div class="nano-content">
                        <ul class="gw-nav gw-nav-list">
                            <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text">Select Product</span> </a> </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">Apple</span> <b class="gw-arrow"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">Apple Product 1</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">Nokia</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">Nokia Product 1</a> </li>
                                    <li> <a href="javascript:void(0)">Nokia Product 2</a> </li>
                                    <li> <a href="javascript:void(0)">Nokia Product 3</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">BlackBerry</span> <b></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">BlackBerry Product 1</a> </li>
                                    <li> <a href="javascript:void(0)">BlackBerry Produc 2</a> </li>
                                    <li> <a href="javascript:void(0)">BlackBerry Produc 3</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">HTC</span> <b class="gw-arrow"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">HTC Product 1</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">Samsung</span> <b class="gw-arrow"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">Samsung Product 1</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">Sony</span> <b class="gw-arrow"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">Sony Product 1</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">LG</span> <b class="gw-arrow"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">LG Product 1</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"> <span class="gw-menu-text">Accessery</span> <b class="gw-arrow"></b> </a>
                                <ul class="gw-submenu">
                                    <li> <a href="javascript:void(0)">Accessery Product 1</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p><img src="img/banner13.jpg" alt="img"></p>
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12">
                <section class="tab-carousel-product">
                    <div class="tab-product-area">
                        <div class="bestseller-sec-heading section-heading">
                            <h2><span>Electronics</span></h2>
                            <div class="tab-carousel-menu">
                                <ul class="nav nav-tabs product-nav">
                                    <li class="active">
                                        <p><a href="#Games_Software" data-toggle="tab">Mobile Phones</a></p>
                                    </li>
                                    <li>
                                        <p><a href="#Dresses_shaddam" data-toggle="tab">Accessories</a></p>
                                    </li>
                                    <li>
                                        <p><a href="#Shoes_shaddam" data-toggle="tab">Games</a></p>
                                    </li>
                                </ul>
                            </div>
                            <!-- tabs menu end -->
                        </div>
                        <!-- tab content start -->
                        <div class="tab-content">
                            <!-- tabs one start -->

                            <div role="tabpanel" class="tab-pane active" id="Dresses_shaddam">
                                <div class="tab-content-area tab-carousel-2">
                                    <div class="carousel-p-b">
                                        <div class="product-carousel-2">
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/6.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Males tincidunt</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$300.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/5.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Pleasure onally</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$880.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/8.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Facilisis sagittis</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$780.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/9.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Lectus  tincidunt</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$750.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/5.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Cras neque metus</a></h2>
                                                        <div class="product-price"> <span class="old-price">$800.00</span> <span class="regular-price">$850.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/5.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Proin lectus ipsum</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$450.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/7.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Males tincidunt</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$480.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/6.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Lectus  tincidunt</a></h2>
                                                        <div class="product-price"> <span class="old-price">$400.00</span> <span class="regular-price">$780.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/5.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Sociosqu sagittis</a></h2>
                                                        <div class="product-price"> <span class="old-price">$800.00</span> <span class="regular-price">$850.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/6.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Donec ac tempus</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$799.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/7.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Proin lectus ipsum</a></h2>
                                                        <div class="product-price"> <span class="old-price">$480.00</span> <span class="regular-price">$650.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/3.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Etiam gravida</a></h2>
                                                        <div class="product-price"> <span class="old-price">$800.00</span> <span class="regular-price">$850.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                            <!-- single-item start -->
                                            <div class="item">
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/8.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Quisque in arcu</a></h2>
                                                        <div class="product-price"> <span class="regular-price">$670.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                                <!-- single-product-item start -->
                                                <div class="single-product-item">
                                                    <div class="product-image">
                                                        <a href="#" title=""><img src="img/product/home2/9.jpg" alt="product image" /></a>
                                                        <div class="single-product-overlay">
                                                            <div class="rating-box"> <a title="1 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="2 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="3 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="4 star" class="rated" href="#"><i class="fa fa-star-o"></i></a> <a title="5 star" href="#"><i class="fa fa-star-o"></i></a> </div>
                                                            <div class="product-quick-view">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-copy"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-text">
                                                        <h2><a class="product-title" href="#" title="">Occaecati ditate</a></h2>
                                                        <div class="product-price"> <span class="old-price">$800.00</span> <span class="regular-price">$850.00</span> </div>
                                                        <div class="pro-add-to-cart">
                                                            <p><a href="#" title="Add to Cart">Add to Cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-item end -->
                                            </div>
                                            <!-- single-item end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- tabs two end -->

                        </div>
                        <!-- tab content end -->
                    </div>
                </section>
                <div class="clearfix"></div>
                <div class="shipping-add-image section-heading">
                    <div class="col-md-12 mb10">
                        <h2><span>Brand</span></h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row text-center">
                        <div class="col-md-3"> <img src="img/prce-prdct1.jpg" alt="prce-prdct1" /><span><a href="#">iPhone</a></span> </div>
                        <div class="col-md-3"> <img src="img/prce-prdct2.jpg" alt="prce-prdct2" /><span><a href="#">&nbsp; Samsung</a></span> </div>
                        <div class="col-md-3"> <img src="img/prce-prdct3.jpg" alt="prce-prdct3" /><span><a href="#">&nbsp; Micromax</a></span> </div>
                        <div class="col-md-3 mb20"> <img src="img/prce-prdct4.jpg" alt="prce-prdct4" /><span><a href="#">&nbsp; Hp</a></span> </div>
                        <div class="col-md-3"> <img src="img/prce-prdct5.jpg" alt="prce-prdct5" /><span><a href="#">Dell</a></span> </div>
                        <div class="col-md-3"> <img src="img/prce-prdct6.jpg" alt="prce-prdct6" /><span><a href="#">&nbsp; Lenovo</a></span> </div>
                        <div class="col-md-3"> <img src="img/prce-prdct7.jpg" alt="prce-prdct7" /><span><a href="#">&nbsp; LG</a></span> </div>
                        <div class="col-md-3"> <img src="img/prce-prdct8.jpg" alt="prce-prdct8" /><span><a href="#">&nbsp; Sony </a></span> </div>
                    </div>
                </div>
                <div class="clearfix mb20"></div>
                <div class="shipping-add-image section-heading">
                    <div class="col-md-12 mb10">
                        <h2><span>Offer</span></h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-category-box">
                                <div class="shop-category-item col-md-6">
                                    <h2 class="pb0"><a href="#">Repair &amp; Service</a></h2>
                                    <p class="mb5">Up to 50% Off</p>
                                    <a href="#" class="btn btn-primary">Shop Now</a>
                                </div>
                                <div class="shop-category-image"> <img alt="GreenTech" src="img/category/1.jpg"> </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-category-box">
                                <div class="shop-category-item col-md-6">
                                    <h2 class="pb0"><a href="#">Repair &amp; Service</a></h2>
                                    <p class="mb5">Up to 50% Off</p>
                                    <a href="#" class="btn btn-primary">Shop Now</a>
                                </div>
                                <div class="shop-category-image"> <img alt="GreenTech" src="img/category/2.jpg"> </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-category-box">
                                <div class="shop-category-item col-md-6">
                                    <h2 class="pb0"><a href="#">Repair &amp; Service</a></h2>
                                    <p class="mb5">Up to 50% Off</p>
                                    <a href="#" class="btn btn-primary">Shop Now</a>
                                </div>
                                <div class="shop-category-image"> <img alt="GreenTech" src="img/category/3.jpg"> </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-category-box">
                                <div class="shop-category-item col-md-6">
                                    <h2 class="pb0"><a href="#">Repair &amp; Service</a></h2>
                                    <p class="mb5">Up to 50% Off</p>
                                    <a href="#" class="btn btn-primary">Shop Now</a>
                                </div>
                                <div class="shop-category-image"> <img alt="GreenTech" src="img/category/4.jpg"> </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-category-box">
                                <div class="shop-category-item col-md-6">
                                    <h2 class="pb0"><a href="#">Repair &amp; Service</a></h2>
                                    <p class="mb5">Up to 50% Off</p>
                                    <a href="#" class="btn btn-primary">Shop Now</a>
                                </div>
                                <div class="shop-category-image"> <img alt="GreenTech" src="img/category/5.jpg"> </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-category-box">
                                <div class="shop-category-item col-md-6">
                                    <h2 class="pb0"><a href="#">Repair &amp; Service</a></h2>
                                    <p class="mb5">Up to 50% Off</p>
                                    <a href="#" class="btn btn-primary">Shop Now</a>
                                </div>
                                <div class="shop-category-image"> <img alt="GreenTech" src="img/category/6.jpg"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area start -->
    <footer class="footer-area">
        <!-- footer-top start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <!-- single-footer start -->
                        <div class="single-footer">
                            <h2>My Account</h2>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">My Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Userinfor</a></li>
                            </ul>
                        </div>
                        <!-- single-footer end -->
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <!-- single-footer start -->
                        <div class="single-footer">
                            <h2>Support</h2>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Sale products</a></li>
                            </ul>
                        </div>
                        <!-- single-footer end -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hidden-sm hidden-xs">
                        <!-- single-footer start -->
                        <div class="single-footer">
                            <h2>Information</h2>
                            <ul>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Advanced</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- single-footer end -->
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <!-- single-footer start -->
                        <div class="single-footer">
                            <h2>Contact Us</h2>
                            <div class="address-info">
                                <p><strong>Address: </strong> <span> 123 Main Street, Anytown, CA 12345 USA.</span></p>
                                <p><strong>Phone: </strong> <span> 8801973 - 833 508</span></p>
                                <p><strong>Fax: </strong> <span> (800) 123 456 789</span></p>
                                <p><strong>Email: </strong> <span> <a href="mailto:mr-supermarket.com">mr-supermarket.com</a></span></p>
                            </div>
                        </div>
                        <!-- single-footer end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top end -->
        <!-- footer middle start -->
        <div class="footer-middle">
            <div class="container">
                <div class="t-b-border">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4"> </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="social-share">
                                <div class="social-icon">
                                    <h2>follow</h2>
                                    <ul>
                                        <li><a class="tw" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="gp" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="fb" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="li" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="yu" href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer middle end -->
        <!-- footer bottom start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copy-right-area">
                            <p class="copy-right">&copy; Copyright 2016 Mobile Repair Supermarket</a>. All Rights Reserved</p>
                        </div>
                        <!-- scroll-to-top-start -->
                        <div class="scroll-to-top"> <a href="#" class="greentech-scrollertop">scroll</a> </div>
                        <!-- scroll-to-top-end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom end -->
    </footer>
    <!-- footer-area end -->

    <script src="~/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="~/js/jqueryui.js"></script>
    <script src="~/js/jquery.meanmenu.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/jquery.elevatezoom.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nivo.slider.pack.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- main js -->
    <!--Browse -->
    <script src="~/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/left-toggle-menu.css">
    <script src="~/js/bs_leftnavi.js"></script>
</body>
</html>
